@import "../../global.scss";

.intro{
     height: 500px;
     width: 100%;
     display: flex;

     @include mobile{
          flex-direction: column;
          align-items: center;
          justify-content: center;
     }

     .bg{
          background-size: cover;
          z-index: -3;
          position: absolute;
          top: 0;
          height: 100%;
          width: 100%;
     }

     .left{
          flex: 0.4;

          @include mobile{
               flex: 0.2;
          }
          .imgContainer{
               height: 280px;
               width: 300px;
               overflow: hidden;
               position: absolute;
               margin: 150px 50px;
               float: right;
               border-radius: 50%;
               background-color: blue;

               @include laptop{
                    height: 250px;
                    width: 250px;
                    top: 0px;
               }

               @include tablet{
                    height: 190px;
                    width: 190px;
               }

               @include mobile{
                    height: 120px;
                    width: 120px;
                    display: flex;
               }

               img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
               }
          }
     }
     .right{
          flex: 0.6;
          flex-direction: column;
          position: relative;

          @include mobile{
               flex: 0.8;
          }

          .wrapper{
               width: 100%;
               height: 100%;
               padding-left: 90px;
               display: flex;
               flex-direction: column;
               justify-content: center;

               h1{
                    font-size: 60px;
                    margin: 10px 0px;

                    @include mobile{
                         font-size: 35px;
                    }

                    @include laptop{
                         font-size: 50px;
                    }
               }
               h2{
                    font-size:35px ;

                    @include mobile{
                         font-size: 20px;
                    }

                    @include laptop{
                         font-size: 30px;
                    }
               }
               h3{
                    font-size: 30px;

                    @include mobile{
                         font-size: 20px;
                    }

                    span{
                         color: rgb(220, 20, 60);
                         font-size: 40;
                         font-weight: 300;

                         @include mobile{
                              font-size: 25px;
                         }
                    }
                    .ityped-cursor{
                         animation: blinkcursor 1s infinite;
                    }
                    @keyframes blinkcursor {
                         50%{
                              opacity: 1;
                         }
                         100%{
                              opacity: 0;
                         }
                    }
               }

               .intro-para{
                    width: 400px;
                    height: auto;
                    padding-right: 20px;

                    @include tablet{
                         width: 370px;
                         font-size: 15px;
                    }
                    p{
                         display: flex;
                         align-items: center;
                         color: $main-color;
                         padding-top: 25px;
                         // margin-right: 0;
                         flex-wrap: wrap;
     
                         @include laptop{
                              padding-left: 0px;
                         }
     
                         @include mobile{
                              padding-left: 0px;
                              width: 70vw;
                         }
                    }

               }
               
          a{
               position: absolute;
               color: rgb(67, 67, 67);
               font-weight: 700;
               font-size: 4rem;
               bottom: 100px;
               left: 70%;
               animation: arrowblink 0.8s infinite;

               @include mobile{
                    font-size: 5vw;
                    position: absolute;
                    left: 62%;
               }

               @include laptop{
                    font-size: 1.7rem;
                    bottom: 30px;
               }
          }
          @keyframes arrowblink {
               0%{
                    color: rgb(0, 0, 0) ;
               }
               100%{
                    opacity: 0.3;
               }
          }
     }
}}